@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* General Styles */
* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #121212; /* Dark background for dark mode */
  color: #e0e0e0; /* Light text color for better readability in dark mode */
  margin: 0;
  padding: 0;
  padding-bottom: 60px; /* To ensure content doesn't overlap the footer */  
}

/* Container Styling */
.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  /* background-color: #1e1e1e; */
  /* Darker background for container */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
}

/* Headings */
h1 {
  text-align: center;
  color: #ffffff; /* White text for headings */
}

/* Add Note Button */
.add-note {
  user-select: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  border: none;
  border-radius: 50%;
  background-color: #0056b3;
  width: 60px;
  height: 60px;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  font-weight: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-note:hover {
  background-color: #007bff;
  transform: scale(1.1);
}

/* Popup Form Styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.popup-content {
  position: relative;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.popup .close {
  position: absolute;
  top: -40px;
  right: -10px;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #333; /* Dark border */
  border-radius: 20px;
  outline: none;
  background-color: #2c2c2c; /* Darker input background */
  color: #e0e0e0; /* Light text color */
}

textarea {  
  resize: vertical;
  min-height: 200px;
  max-height: 400px;
}

button {
  padding: 12px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  opacity: 0.9;
}

#notesList {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.note {
  padding: 50px 30px;
  border: 1px solid #333;
  border-radius: 20px;
  position: relative;
  overflow: hidden; /* Ensure rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.note:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.note h2 {
  margin: 0;
  color: #ffffff; /* White text color for note titles */
  font-size: 24px;
}

.note p {
  margin: 10px 0;
  color: #b0b0b0; /* Lighter text color for note descriptions */
  font-size: 18px;
}

.note button {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 5px 5px 5px 0;
  padding: 8px 12px;
  background-color: #dc354580;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.note button.edit {
  right: 70px;
  background: #8d5c0080;
}
.note button.edit:hover {
  background: #8d5c00;
}

.note button:hover {
  background-color: #c82333;
  opacity: 0.9;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  #notesList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #notesList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.loader-container {
  background: rgba(0, 0, 0, 0.726);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
}

/* Loader Styling */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-left: 3px solid #3498db;
  border-top: 3px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Disabled Button Styling */
button:disabled {
  background-color: #007bff80;
  cursor: not-allowed;
  opacity: 0.7;
  user-select: none;
}

input:disabled,
textarea:disabled {
  background-color: #4a4a4a;
  color: #666;
  user-select: none;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark color for scrollbar handle */
  border-radius: 10px; /* Rounded corners for scrollbar handle */
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e; /* Darker color for scrollbar track */
  border-radius: 10px; /* Rounded corners for scrollbar track */
}

::selection {
  background-color: #007bff; /* Highlight color for selected text */
  color: #ffffff; /* Text color of the selected text */
}


/* Footer Styling */
footer {
  background-color: #1d1c1c; /* Dark background */
  color: #e0e0e0; /* Light text color */
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
}

footer a {
  color: hsl(211, 100%, 66%); /* Link color */
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #0056b3; /* Hover effect for links */
}

footer i {
  margin-left: 5px;
  font-size: 18px; /* Icon size */
}

